# Binary output
bin
# Build directory
build
# MacOS trash
.DS_Store
# VSCode configuration
.vscode

# Object files
*.elf

# Linker output
*.map

# Libraries
*.a

# Executables
*.exe
*.out
*.hex
*.bin
*.sym
